.wrapper-items {
  width: 100%;
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between; }
  .wrapper-items .item-list-logo {
    width: 10%;
    text-align: center; }
    .wrapper-items .item-list-logo .item-list-logo-img {
      border-radius: 100%;
      width: 45px;
      height: 45px; }
  .wrapper-items .item-list-channel {
    width: 15%; }
    .wrapper-items .item-list-channel a {
      text-decoration: none; }
    .wrapper-items .item-list-channel a:hover {
      text-decoration: underline; }
  .wrapper-items .item-list-game {
    width: 15%; }
  .wrapper-items .item-list-details {
    width: 60%; }
  .wrapper-items p {
    font-size: 0.8rem; }
