.wrapper-items {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .wrapper-items .item-list-logo {
    width: 25%; }
    .wrapper-items .item-list-logo .item-list-logo-img {
      border-radius: 100%;
      width: 45px;
      height: 45px;
      align-self: center; }
