.wrapper {
    width: 60%;
    background: paleturquoise;
    margin: 0 auto;
    .header {
      background: #5C5458;
      color: #D3E0E5;
      width: 100%;
      font-family: "bello-pro-1", "bello-pro-2", sans-serif;
      font-size: 2rem;
      font-weight: 1200;

      button {
        padding: 1%;
        margin: 5px;
        cursor: pointer;
      }
    }

}
